.basket {
    width: 250px;
    height: 300px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}
.cart,
.delivery{
    margin: 5px;
    text-align: left;
}
.delivery {
    border-top: 1px solid black;
    margin: 0 20px;
    padding: 10px 35px;
    position: absolute;
    bottom: 50px;
    text-align: left;
}
.total {
    margin: 0 20px;
    padding: 10px 35px;
    position: absolute;
    bottom: 20px;
}
.btnPlace {
    position: absolute;
    bottom: 10px;
    right: 5px;
    margin: 0;
}