.dishes {
    width: 430px;
    margin: 10px 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
}
.text, .image, .button {
    width: 150px;
}
p {
    margin: 10px 0;
    text-align: right;
}
img {
    width: 100px;
}
button {
    margin: 20px;
    border-radius: 5px;
}